.image-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.link-icon {
  position: absolute;
  top: 880px;
  left: 934.7px;
  width: 50.7px;
  height: 50px;
  opacity: 0.97;
}
.background2 {
  position: absolute;
  width: calc(100% + 413.7px);
  top: 1068.9px;
  right: -204.3px;
  left: -209.4px;
  background-color: #fff;
  height: 150px;
  transform: rotate(3deg);
  transform-origin: 0 0;
}
.contact-us {
  position: absolute;
  top: 70px;
  left: 1420px;
}
.news,
.our-research,
.the-team {
  position: absolute;
  top: 70px;
  left: 1240px;
}
.news,
.our-research {
  left: 1117px;
}
.our-research {
  left: 726px;
}
.investors,
.mission,
.schizophrenia {
  position: absolute;
  top: 70px;
  left: 946px;
}
.mission,
.schizophrenia {
  left: 499px;
}
.mission {
  top: 73px;
  left: 268px;
  display: inline-block;
  width: 101px;
  height: 25px;
}
.unlocking-the-future {
  margin: 0;
}
.unlocking-the-future-container {
  position: absolute;
  top: 492px;
  left: 347px;
  font-size: 55px;
  line-height: 24px;
  font-family: "Open Sans";
  display: inline-block;
  width: 691px;
  height: 172px;
}
.list-item-child {
  position: absolute;
  top: 124px;
  left: 241px;
  background-color: #43abde;
  width: 156px;
  height: 7px;
}
.background1,
.list-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1200px;
}
.list-item {
  overflow: hidden;
}
.background1 {
  background-color: #151719;
  font-size: 25px;
  color: #000;
  font-family: Lexend;
}
.meomics-is-a {
  position: absolute;
  top: 1304px;
  left: 422px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  color: #4d4d4d;
  display: flex;
  align-items: center;
  width: 1077px;
  height: 28px;
}
.about-bluepng-icon,
.about-purplepng-icon {
  position: absolute;
  top: -120px;
  height: 100px;
  overflow: hidden;
  object-fit: cover;
}
.about-purplepng-icon {
  width: 78.93%;
  right: 10.58%;
  left: 10.5%;
  max-width: 100%;
}
.about-bluepng-icon {
  left: 13.3px;
  width: 100px;
}
.container1 {
  position: absolute;
  height: calc(100% - 161.4px);
  top: 32px;
  bottom: 129.4px;
  left: calc(50% - 63.3px);
  width: 126.7px;
}
.heading-2 {
  position: absolute;
  top: 0;
  left: calc(50% - 132.05px);
  letter-spacing: -1.33px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 224px;
  height: 40px;
}
.developing-personalized-treatm-container1 {
  width: 100%;
}
.developing-personalized-treatm-container {
  position: absolute;
  top: 48px;
  left: calc(50% - 164.05px);
  font-size: 17.3px;
  line-height: 20.8px;
  color: #4d4d4d;
  display: flex;
  align-items: center;
  width: 296px;
  height: 62px;
}
.paragraph {
  position: absolute;
  height: calc(100% - 32px);
  top: 32px;
  bottom: 0;
  left: calc(50% - 158.3px);
  width: 316.7px;
}
.container {
  position: absolute;
  height: calc(100% - 2895px);
  width: calc(100% - 1540px);
  top: 1590px;
  right: 1150px;
  bottom: 1305px;
  left: 390px;
  text-align: center;
}
.grounded-on-specialist-container,
.heading-21 {
  position: absolute;
  display: flex;
  align-items: center;
}
.heading-21 {
  top: 0;
  left: calc(50% - 65.75px);
  letter-spacing: -1.33px;
  line-height: 40px;
  justify-content: center;
  width: 133.1px;
  height: 40px;
}
.grounded-on-specialist-container {
  top: 47.6px;
  left: calc(50% - 142.65px);
  font-size: 17.3px;
  line-height: 20.8px;
  color: #4d4d4d;
  width: 285.4px;
  height: 62.4px;
}
.container2 {
  position: absolute;
  height: calc(100% - 2895px);
  width: calc(100% - 1540px);
  top: 1623px;
  right: 738px;
  bottom: 1272px;
  left: 802px;
  text-align: center;
}
.heading-22,
.join-in-to-container {
  position: absolute;
  display: flex;
  align-items: center;
}
.heading-22 {
  top: 0;
  left: calc(50% - 107.25px);
  letter-spacing: -1.33px;
  line-height: 40px;
  justify-content: center;
  width: 216.3px;
  height: 40px;
}
.join-in-to-container {
  top: 47.6px;
  left: calc(50% - 132.25px);
  font-size: 17.3px;
  line-height: 20.8px;
  color: #4d4d4d;
  width: 264.6px;
  height: 62.4px;
}
.container4 {
  position: absolute;
  height: calc(100% - 2895px);
  width: calc(100% - 1540px);
  top: 1579px;
  right: 340px;
  bottom: 1316px;
  left: 1200px;
  text-align: center;
}
.image-icon1 {
  position: absolute;
  height: 180%;
  width: 100%;
  top: 6.07%;
  right: 0;
  bottom: -86.07%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.background3,
.background4 {
  position: absolute;
  width: 100.01%;
  right: -0.01%;
  left: 0;
  background-color: #fff;
  height: 96px;
  transform-origin: 0 0;
}
.background3 {
  top: -59.7px;
  transform: rotate(0.7deg);
}
.background4 {
  bottom: -59.8px;
  transform: rotate(-0.7deg);
}
.chemical-formulapng {
  position: absolute;
  top: calc(50% - 256.7px);
  left: 0;
  width: 101.1px;
  height: 26px;
  overflow: hidden;
}
.latest-news,
.read-more {
  position: absolute;
  display: flex;
  align-items: center;
}
.latest-news {
  top: 24px;
  left: 15px;
  line-height: 26px;
  width: 226.5px;
  height: 26px;
}
.read-more {
  top: 8.1px;
  right: 24.7px;
  line-height: 17.79px;
  width: 75.5px;
  height: 17.8px;
}
.link-button {
  position: absolute;
  top: 539.8px;
  right: 468.8px;
  border-radius: 5px;
  background-color: #4077bb;
  border: 1px solid #b8659f;
  box-sizing: border-box;
  width: 125.2px;
  height: 35.8px;
  text-align: right;
  font-size: 13.3px;
  color: #fff;
}
.container6 {
  position: absolute;
  height: calc(100% - 255.2px);
  width: calc(100% - 780px);
  top: 141.3px;
  right: 390px;
  bottom: 113.9px;
  left: 390px;
}
.section {
  position: absolute;
  width: 100%;
  top: 1833px;
  right: 0;
  left: 0;
  background-color: #f7f7f7;
  height: 850px;
  overflow: hidden;
  font-size: 40px;
  color: #00446f;
}
.partners {
  position: absolute;
  top: 24px;
  left: calc(50% - 90.3px);
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180.9px;
  height: 26px;
}
.cardiff-universitypng-icon,
.eb1png-icon {
  position: absolute;
  top: calc(50% - 171px);
  left: calc(50% - 360px);
  width: 150px;
  height: 106px;
  overflow: hidden;
  object-fit: cover;
}
.eb1png-icon {
  left: calc(50% + 160px);
  width: 250px;
  height: 94px;
}
.screenshot-from-2024-04-26-10- {
  position: absolute;
  top: 249px;
  left: 730px;
  width: 265px;
  height: 143px;
  object-fit: cover;
}
.screenshot-from-2024-04-26-10-1,
.screenshot-from-2024-04-26-10-2 {
  position: absolute;
  top: 273px;
  left: 160px;
  width: 289px;
  height: 119px;
  object-fit: cover;
}
.screenshot-from-2024-04-26-10-2 {
  top: 54px;
  left: 452px;
  width: 235px;
  height: 267px;
}
.screenshot-from-2024-04-26-10-3,
.screenshot-from-2024-04-26-10-4 {
  position: absolute;
  top: 131px;
  left: 160px;
  width: 264px;
  height: 116px;
  object-fit: cover;
}
.screenshot-from-2024-04-26-10-4 {
  top: 138px;
  left: 730px;
  width: 252.9px;
}
.border {
  position: absolute;
  width: 100%;
  top: 110px;
  right: 0;
  left: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  height: 392px;
}
.container7 {
  position: absolute;
  top: 2683px;
  left: calc(50% - 538px);
  width: 1140px;
  height: 526px;
  text-align: center;
  font-size: 45.3px;
}
.link-cookies,
.link-privacy,
.link-terms {
  top: 20px;
  line-height: 26px;
  font-weight: 600;
  height: 26px;
}
.link-terms {
  position: absolute;
  left: 405px;
  display: flex;
  align-items: center;
  width: 122px;
}
.link-cookies,
.link-privacy {
  text-align: center;
  justify-content: center;
}
.link-privacy {
  position: absolute;
  left: calc(50% - 181.5px);
  display: flex;
  align-items: center;
  width: 78.4px;
}
.link-cookies {
  left: calc(50% + 121.2px);
  width: 42.9px;
}
.link-cookies,
.meomics,
.registered-in-england {
  position: absolute;
  display: flex;
  align-items: center;
}
.meomics {
  top: 18px;
  right: 468.4px;
  line-height: 26px;
  font-weight: 600;
  text-align: right;
  width: 136.6px;
  height: 26px;
}
.registered-in-england {
  top: 17px;
  left: 0;
  line-height: 17.01px;
  font-weight: 300;
  width: 226.7px;
  height: 17px;
}
.background5,
.background6,
.backgroundhorizontalborder {
  position: absolute;
  top: 0;
  background-color: #47484b;
  height: 90px;
}
.backgroundhorizontalborder {
  width: calc(100% - 30px);
  right: 15px;
  left: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
}
.background5,
.background6 {
  left: calc(50% - 570px);
  width: 1140px;
}
.background5 {
  top: 62px;
  left: calc(50% - 960px);
  width: 1920px;
  font-size: 11.3px;
}
.screenshot-from-2024-04-26-10-5 {
  position: absolute;
  top: 152px;
  left: 1464px;
  width: 456px;
  height: 107px;
  object-fit: cover;
}
.background,
.footer,
.main {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.footer {
  top: 3209px;
  background-color: #212529;
  border-top: 4px solid #212529;
  box-sizing: border-box;
  height: 259px;
  font-size: 10px;
  color: #fff;
}
.background,
.main {
  top: 0;
  height: 3057.4px;
}
.background {
  background-color: #fff;
}
.logo-3-icon {
  position: absolute;
  top: 30px;
  left: 0;
  width: 219px;
  height: 155px;
  object-fit: cover;
}
.image-2-icon {
  top: 2059px;
  left: 743px;
  width: 500px;
  height: 425px;
  object-fit: cover;
}
.image-2-icon,
.link,
.symbol {
  position: absolute;
}
.symbol {
  top: 16.9px;
  left: calc(50% - 4.9px);
  line-height: 11.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.1px;
  height: 11.2px;
}
.link {
  bottom: -0.4px;
  left: 1860px;
  background-color: #404040;
  width: 50px;
  height: 45px;
  opacity: 0.75;
  text-align: center;
  font-size: 11.2px;
  color: #fff;
}
.wwwmeomicscom-by-htmltodes {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  height: 3468px;
  overflow-y: auto;
  text-align: left;
  font-size: 26.7px;
  color: #4077bb;
  font-family: "Open Sans";
}
