<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/public/css/investing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>

        <div class="background">


            <!-- <img class="image-icon" alt="" src="../public/image@2x.png" /> -->



            <img class="image-icon" alt="" src="../public/logo-1@2x.png" />

            <ul>

                <li><a href="#">Home</a></li>

                <li><a href="#">Schizophrenia</a></li>
                <li><a href="#">Mission</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">The Team</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Our Research</a></li>
                <li><a href="#">Investors</a></li>
            </ul>
            <div class="registered-in-england">
                <img src="/public/linkedin_svgrepo.com.svg" alt="linkedin logo">
                <img src="/public/twitter-3-logo_svgrepo.com (1).svg" alt="linkedin logo">
            </div>

    </header>
    <main>


        <section></section>
    </main>

    <footer>

        <div class="footer">
            <div class="link-terms">TERMS AND CONDITIONS</div>
            <div class="link-privacy">PRIVACY POLICY</div>
            <div class="link-cookies">COOKIES</div>
            <div class="meomics">© MeOmics</div>
            <div class="background5">
                <div class="background6">
                    <div class="backgroundhorizontalborder">
                        <div class="registered-in-england">
                            <span>Copyright © 2024 MeOmics Precision Medicine Ltd. - All Rights Reserved.</span>
                        </div>
                    </div>
                </div>
                <div class="registered-in-england">
                    <img src="/public/linkedin_svgrepo.com.svg" alt="linkedin logo">
                    <img src="/public/twitter-3-logo_svgrepo.com (1).svg" alt="linkedin logo">
                </div>
            </div>

    </footer>
</body>

</html>