<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>meOmics: Personalized Medicine for Mental Health</title>
    <meta name="description" content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses.">
    <meta name="keywords" content="meOmics, precision medicine, mental health, psychiatry, schizophrenia, bipolar disorder, personalized treatment, patient data, cellular assays, Cardiff, Wales">
    <!-- Social Media Links -->
    <meta property="og:title" content="meOmics: Personalized Medicine for Mental Health">
    <meta property="og:description" content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses.">
   
    <meta property="og:url" content="https://twitter.com/MeOmics_Pre_Med">
  
    <meta name="twitter:site" content="@MeOmics_Pre_Med">
    <meta name="twitter:creator" content="@YourTwitterHandle">
    <meta name="twitter:title" content="meOmics: Personalized Medicine for Mental Health">
    <meta name="twitter:description" content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses.">
   
      <!-- LinkedIn -->
      <meta property="og:type" content="website">
      <meta property="og:locale" content="en_US">
      <meta property="og:site_name" content="meOmics">
      <meta property="og:image:width" content="1200">
      <meta property="og:image:height" content="630">
      <meta property="og:url" content="https://www.linkedin.com/company/meomics-technology/">
      <meta property="og:title" content="meOmics: Personalized Medicine for Mental Health">
      <meta property="og:description" content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses.">
      <meta property="og:article:author" content="https://www.linkedin.com/company/meomics-technology/">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>

        <div class="background">


            <!-- <img class="image-icon" alt="" src="../public/image@2x.png" /> -->
            <img class="image-icon" alt="" src="../public/logo-1@2x.png" />
            <div class="hamburger-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
              </div>

              <ul class="menu-items">
                <li><a href="/views/index.html">Home</a></li>
            
                <li><a href="/views/schizophrenia.html">Schizophrenia</a></li>
              
                <li><a href="/views/contact-us.html">Contact Us</a></li>
                <li><a href="/views/team.html">The Team</a></li>
                <li><a href="/views/news.html">News</a></li>
                <li><a href="/views/science.html">Our Research</a></li>
                <li><a href="/views/Investing.html">Investors</a></li>
            </ul>
            <div class="registered-in-england">
                <a href="https://www.linkedin.com/company/meomics-technology/"> <img src="/public/linkedin_svgrepo.com.svg" alt="linkedin logo"></a>    
                <a href="https://twitter.com/MeOmics_Pre_Med"><img src="/public/twitter-3-logo_svgrepo.com (1).svg" alt="twitter logo"></a>
            </div>



        </div>
        <div class="unlocking-the-future-container">
            <p class="unlocking-the-future">Unlocking the future of<br>mental Health</p>

        </div>
        <div class="btn">
            <button class="btn1">Reach Out</button>
        </div>
      
        <img class="link-icon" alt="" src="../public/link.svg" />

    </header>
    <main>
        <div class="meomics-is-a">
            <p>

                Meomics is a groundbreaking biotech startup poised to revolutionize
                mental healthcare. By harnessing the power of stem cells, we're
                building intricate "brains on a chip" that hold the key to unlocking
                the future of personalized medicine. This innovative technology will
                allow us to peer into the very foundation of mental health
                conditions, like schizophrenia, at a cellular level.


            </p>
            <p>This deeper understanding paves the way for developing targeted treatments,
                tailored to the unique needs of each patient. With Meomics, you're
                not just joining a company, you're joining a movement to rewrite the
                narrative of mental health – a story filled with hope, empowerment,
                and the potential for groundbreaking breakthroughs.
            </p>
        </div>


        <div class="container">


            <div class="container1">
                <img class="about-bluepng-icon" alt="" src="../public/about-bluepng@2x.png" />


                <h3> About MeOmics</h3>
                <p class="unlocking-the-future">
                    Developing personalized treatments<br> for

                    patients with Mental health <br>Disorders&#46;
                </p>
            </div>
            <div class="container1">
                <img class="about-bluepng-icon" alt="" src="../public/science-bluepng@2x.png" />


                <h3> The Science</h3>
                <p class="unlocking-the-future">
                    Grounded on specialist expertise in
                    epithelial cell biology and Neuropsychopharmacology&#46;
                </p>
            </div>
            <div class="container1">
                <img class="about-bluepng-icon" alt="" src="../public/collaborate-bluepng@2x.png" />


                <h3> Collaborate with us</h3>
                <p class="unlocking-the-future">
                    Join in to innovate with us and to
                    find new treatments for patients
                    with no current cures&#46;
                </p>
            </div>
        </div>
        </div>





      


        <!-- <div class="container3">
         
         
          </div> -->
          <section class="news">
            <div class="latest-news">
              <h3>Latest News</h3>
              <div class="images-container">
                <img src="/public/tweet.png" alt="Twitter Feed 1">
                <img src="/public/tweet2.png" alt="Twitter Feed 2">
                <img src="/public/tweet3.png" alt="Twitter Feed 3">
              </div>
             <a href="/views/news.html"><p>Learn More</p></a>
            </div>
          </section>
          
       



        <h3 class="partners">Partners</h3>
        <hr>
        <div class="container4">
            <div class="border">
                <img class="cardiff-universitypng-icon" alt="" src="../public/cardiffuniversitypng@2x.png" />
                <img class="eb1png-icon" alt="" src="../public/eb1png@2x.png" />
                <img class="screenshot-from-2024-04-26-10-" alt=""
                    src="../public/screenshot-from-20240426-104749@2x.png" />
            </div>
            <div class="border">
                <img class="screenshot-from-2024-04-26-10-1" alt=""
                    src="../public/screenshot-from-20240426-104720@2x.png" />
                <img class="screenshot-from-2024-04-26-10-2" alt=""
                    src="../public/screenshot-from-20240426-104739@2x.png" />
                <img class="screenshot-from-2024-04-26-10-3" alt=""
                    src="../public/screenshot-from-20240426-104705@2x.png" />
            </div>
            <div class="border">
                <img class="screenshot-from-2024-04-26-10-4" alt=""
                    src="../public/screenshot-from-20240426-104729@2x.png" />
            </div>
        </div>

        <hr>

        <!-- Message Box -->
<div class="message-box">
    <i class="fa fa-comments"></i>
</div>

<!-- Social Media Links -->
<div class="social-links-container">
    <div class="social-links">
        <a href="https://www.whatsapp.com" target="_blank">
            <img src="/public/whatsapp-icon-logo_svgrepo.com.svg" alt="WhatsApp">
        </a>
        <a href="https://www.linkedin.com/company/meomics-technology/" target="_blank">
            <img src="/public/linkedin_svgrepo.com.svg" alt="LinkedIn">
        </a>
        <a href="https://twitter.com/MeOmics_Pre_Med" target="_blank">
            <img src="/public/twitter-3-logo_svgrepo.com (1).svg" alt="Twitter">
        </a>
    </div>
</div>

        <div class="footer">    
           <a href="/views/privacy.html"><div class="link-terms">TERMS AND CONDITIONS</div></a> 
            <a href="/views/privacy.html"><div class="link-privacy">PRIVACY POLICY</div></a>
            <a href="/views/privacy.html"><div class="link-cookies">COOKIES</div></a>
            <div class="meomics">© MeOmics</div>
            <div class="background5">
                <div class="background6">
                    <div class="backgroundhorizontalborder">
                        <div class="registered-in-england">
                            <span>Copyright © 2024 MeOmics Precision Medicine Ltd. - All Rights Reserved.</span>
                        </div>
                    </div>
                </div>
                <div class="registered-in-england">
               <a href="https://www.linkedin.com/company/meomics-technology/"> <img src="/public/linkedin_svgrepo.com.svg" alt="linkedin logo"></a>    
                    <a href="https://twitter.com/MeOmics_Pre_Med"><img src="/public/twitter-3-logo_svgrepo.com (1).svg" alt="twitter logo"></a>
                </div>
            </div>

           <script src="script.js"></script>
</body>

</html>