<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>meOmics: Personalized Medicine for Mental Health</title>
    <meta name="description" content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses.">
    <meta name="keywords" content="meOmics, precision medicine, mental health, psychiatry, schizophrenia, bipolar disorder, personalized treatment, patient data, cellular assays, Cardiff, Wales">
    <!-- Social Media Links -->
    <meta property="og:title" content="meOmics: Personalized Medicine for Mental Health">
    <meta property="og:description" content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses.">
   
    <meta property="og:url" content="https://twitter.com/MeOmics_Pre_Med">
  
    <meta name="twitter:site" content="@MeOmics_Pre_Med">
    <meta name="twitter:creator" content="@YourTwitterHandle">
    <meta name="twitter:title" content="meOmics: Personalized Medicine for Mental Health">
    <meta name="twitter:description" content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses.">
   
      <!-- LinkedIn -->
      <meta property="og:type" content="website">
      <meta property="og:locale" content="en_US">
      <meta property="og:site_name" content="meOmics">
      <meta property="og:image:width" content="1200">
      <meta property="og:image:height" content="630">
      <meta property="og:url" content="https://www.linkedin.com/company/meomics-technology/">
      <meta property="og:title" content="meOmics: Personalized Medicine for Mental Health">
      <meta property="og:description" content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses.">
      <meta property="og:article:author" content="https://www.linkedin.com/company/meomics-technology/">
    <link rel="stylesheet" href="/public/css/investing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>

        <div class="background">


            <!-- <img class="image-icon" alt="" src="../public/image@2x.png" /> -->



            <img class="image-icon" alt="" src="../public/logo-1@2x.png" />

            <ul>

                <li><a href="/views/index.html">Home</a></li>

                <li><a href="/views/schizophrenia.html">Schizophrenia</a></li>
              
                <li><a href="/views/contact-us.html">Contact Us</a></li>
                <li><a href="/views/team.html">The Team</a></li>
                <li><a href="/views/news.html">News</a></li>
                <li><a href="/views/science.html">Our Research</a></li>
                <li><a href="/views/Investing.html">Investors</a></li>
            </ul>
            <div class="registered-in-england">
                <a href="https://www.linkedin.com/company/meomics-technology/"> <img src="/public/linkedin_svgrepo.com.svg" alt="linkedin logo"></a>    
                <a href="https://twitter.com/MeOmics_Pre_Med"><img src="/public/twitter-3-logo_svgrepo.com (1).svg" alt="twitter logo"></a>
            </div>

    </header>
    <main>

        <section class="container1">
            <h1>MeOmics is a High Impact Investment Opportunity</h1>
            <p> <i>MeOmics is a high-risk, early-stage business. If you are considering investing, you should understand
                    that your capital is unprotected if something goes wrong. Do not invest unless you are prepared to
                    lose
                    all of the money you invest.</i></p>
        </section>
        <section class="container2">
            <h2>MeOmics Pre-Seed Pitch Deck</h2>
            <div>
                <iframe src="/public/MeOmics - Brief Pre-Seed Investment Deck - April 24.pdf" frameborder="0"
                    class="pitchdeck"></iframe>
            </div>
        </section>



        <section class="container3">
            <div>
                <video src="https://vimeo.com/782453134/7557deace6"></video>
            </div>
            <h2> MeOmics Pre-Seed Fundraise Pitch </h2>
            <p>MeOmics is seeking our pre-seed investment round, targeting a £1m raise for 20% equity. This EIS
                Advaninvestment (with £100k of SEIS) is planned to close in Q1 2024. Active conversations are
                progressing with a potential lead investor and other potential investors interested in joining the
                company. If you would like to receive a copy of the latest pitch deck and (for serious investors) obtain
                access to our data room, then please use the contact form below.

                We look forward to hearing from you.</p>
            <p>If you're interested in investing, would like to learn more, please reach out to Alasdair Pettigrew,
                either through this contact form or directly by e-mail or phone (details shown below). We'd love to hear
                from you!</p><button><a href="/views/contact-us.html">Contact Us</a></button>
        </section>

        <section class="container4">

        </section>
    </main>
                <!-- Message Box -->
<div class="message-box">
    <i class="fa fa-comments"></i>
</div>

<!-- Social Media Links -->
<div class="social-links-container">
    <div class="social-links">
        <a href="https://www.whatsapp.com" target="_blank">
            <img src="/public/whatsapp-icon-logo_svgrepo.com.svg" alt="WhatsApp">
        </a>
        <a href="https://www.linkedin.com/company/meomics-technology/" target="_blank">
            <img src="/public/linkedin_svgrepo.com.svg" alt="LinkedIn">
        </a>
        <a href="https://twitter.com/MeOmics_Pre_Med" target="_blank">
            <img src="/public/twitter-3-logo_svgrepo.com (1).svg" alt="Twitter">
        </a>
    </div>
</div> 
    <footer>

        <div class="footer">
            <a href="/views/privacy.html"><div class="link-terms">TERMS AND CONDITIONS</div></a> 
            <a href="/views/privacy.html"><div class="link-privacy">PRIVACY POLICY</div></a>
            <a href="/views/privacy.html"><div class="link-cookies">COOKIES</div></a>
            <div class="meomics">© MeOmics</div>
            <div class="background5">
                <div class="background6">
                    <div class="backgroundhorizontalborder">
                        <div class="registered-in-england">
                            <span>Copyright © 2024 MeOmics Precision Medicine Ltd. - All Rights Reserved.</span>
                        </div>
                    </div>
                </div>
                <div class="registered-in-england">
                    <a href="https://www.linkedin.com/company/meomics-technology/"> <img src="/public/linkedin_svgrepo.com.svg" alt="linkedin logo"></a>    
                    <a href="https://twitter.com/MeOmics_Pre_Med"><img src="/public/twitter-3-logo_svgrepo.com (1).svg" alt="twitter logo"></a>
                </div>
            </div>

    </footer>
    
    <script>
        const messageBox = document.querySelector('.message-box');
const socialLinksContainer = document.querySelector('.social-links-container');

messageBox.addEventListener('click', () => {
    socialLinksContainer.style.display = socialLinksContainer.style.display === 'none' ? 'block' : 'none';
});
    </script>
</body>

</html>