<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>meOmics: Personalized Medicine for Mental Health</title>
    <meta
      name="description"
      content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses."
    />
    <meta
      name="keywords"
      content="meOmics, precision medicine, mental health, psychiatry, schizophrenia, bipolar disorder, personalized treatment, patient data, cellular assays, Cardiff, Wales"
    />
    <!-- Social Media Links -->
    <meta
      property="og:title"
      content="meOmics: Personalized Medicine for Mental Health"
    />
    <meta
      property="og:description"
      content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses."
    />

    <meta property="og:url" content="https://twitter.com/MeOmics_Pre_Med" />

    <meta name="twitter:site" content="@MeOmics_Pre_Med" />
    <meta name="twitter:creator" content="@YourTwitterHandle" />
    <meta
      name="twitter:title"
      content="meOmics: Personalized Medicine for Mental Health"
    />
    <meta
      name="twitter:description"
      content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses."
    />

    <!-- LinkedIn -->
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="meOmics" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta
      property="og:url"
      content="https://www.linkedin.com/company/meomics-technology/"
    />
    <meta
      property="og:title"
      content="meOmics: Personalized Medicine for Mental Health"
    />
    <meta
      property="og:description"
      content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses."
    />
    <meta
      property="og:article:author"
      content="https://www.linkedin.com/company/meomics-technology/"
    />

    <link rel="stylesheet" href="/public/css/privacy.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="background">
        <!-- <img class="image-icon" alt="" src="../public/image@2x.png" /> -->
        <img class="image-icon" alt="" src="../public/logo-1@2x.png" />
        <div class="hamburger-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="menu-items">
          <li><a href="/views/index.html">Home</a></li>
          <li><a href="/views/schizophrenia.html">Schizophrenia</a></li>
          <li><a href="/views/contact-us.html">Contact Us</a></li>
          <li><a href="/views/team.html">The Team</a></li>
          <li><a href="/views/news.html">News</a></li>
          <li><a href="/views/science.html">Our Research</a></li>
          <li><a href="/views/Investing.html">Investors</a></li>
        </ul>
        <ul class="menu-items">
          <div class="registered-in-england">
            <a href="https://www.linkedin.com/company/meomics-technology/">
              <img src="/public/linkedin_svgrepo.com.svg" alt="linkedin logo" />
            </a>
            <a href="https://twitter.com/MeOmics_Pre_Med">
              <img
                src="/public/twitter-3-logo_svgrepo.com (1).svg"
                alt="twitter logo"
              />
            </a>
          </div>
        </ul>
      </div>
    </header>
    <main>
      <section class="container2">
        <h2>MeOmics Privacy Policy</h2>
        <div class="iframe-container">
          <iframe
            src="/public/MeOmics Privacy (Fair Processing) Noti-170ea76.pdf"
            frameborder="0"
            class="pitchdeck"
          ></iframe>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer">
        <a href="/views/privacy.html"
          ><div class="link-terms">TERMS AND CONDITIONS</div></a
        >
        <a href="/views/privacy.html"
          ><div class="link-privacy">PRIVACY POLICY</div></a
        >
        <a href="/views/privacy.html"
          ><div class="link-cookies">COOKIES</div></a
        >
        <div class="meomics">© MeOmics</div>
        <div class="background5">
          <div class="background6">
            <div class="backgroundhorizontalborder">
              <div class="registered-in-england">
                <span
                  >Copyright © 2024 MeOmics Precision Medicine Ltd. - All Rights
                  Reserved.</span
                >
              </div>
            </div>
          </div>
          <div class="registered-in-england">
            <a href="https://www.linkedin.com/company/meomics-technology/">
              <img src="/public/linkedin_svgrepo.com.svg" alt="linkedin logo" />
            </a>
            <a href="https://twitter.com/MeOmics_Pre_Med">
              <img
                src="/public/twitter-3-logo_svgrepo.com (1).svg"
                alt="twitter logo"
              />
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script>
      //   const hamburgerMenu = document.querySelector(".hamburger-menu");
      //   const menuItems = document.querySelector(".menu-items");

      //   hamburgerMenu.addEventListener("click", () => {
      //     hamburgerMenu.classList.toggle("active");
      //     menuItems.classList.toggle("active");
      //   });
    </script>
  </body>
</html>
