<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/public/css/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>

        <div class="background">


            <!-- <img class="image-icon" alt="" src="../public/image@2x.png" /> -->



            <img class="image-icon" alt="" src="../public/logo-1@2x.png" />

            <ul>

                <li><a href="#">Home</a></li>

                <li><a href="#">Schizophrenia</a></li>
                <li><a href="#">Mission</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">The Team</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Our Research</a></li>
                <li><a href="#">Investors</a></li>
            </ul>
            <div class="registered-in-england">
                <img src="/public/linkedin_svgrepo.com.svg" alt="linkedin logo">
                <img src="/public/twitter-3-logo_svgrepo.com (1).svg" alt="linkedin logo">
            </div>

    </header>
    <main>
        <section class="container1">
            <h2>Schizophrenia:
                Understanding the Challenges </h2>
            <p>Schizophrenia: Understanding the Challenges

                Schizophrenia is a complex mental health condition that affects about 1 in 100 people in the UK. It can
                cause hallucinations (seeing or hearing things that aren't there) and delusions (fixed, false beliefs).
                Additionally, people with schizophrenia may experience social withdrawal, difficulty concentrating, and
                disorganized thinking.</p>
        </section>
        <section class="container2">
            <h2>Current Treatment Landscape</h2>
            <p>Schizophrenia is typically treated with a combination of medication and therapy. Antipsychotic
                medications are the mainstay of treatment, helping to manage symptoms like hallucinations and delusions.
                Therapy, such as cognitive behavioral therapy (CBT), can equip individuals with coping mechanisms and
                improve social skills. However, finding the right medication and therapy approach can be a process of
                trial and error, and some people experience side effects from medications.</p>
        </section>
        <section class="container3">
            <h2>MeOmics: A Personalised
                Approach to Treatment</h2>
            <p>MeOmics is transforming the future of schizophrenia treatment by offering a more personalized approach.
                We analyze a patient's unique biology, including:</p>
            <h3>Cellular activity</h3>
            <p>
                How their nerve cells respond to stimuli.
                Genetics: Their genetic makeup to understand potential risk factors.
                By integrating this information with a patient's medical history, MeOmics aims to predict the most
                effective medications for their specific needs. This personalized approach has the potential to:

            </p>
            <h3>Reduce trial-and-error with medication</h3>
            <p>Finding the right medication faster can lead to quicker symptom relief and improved quality of life.
                Minimize side effects: Matching the right medication to a patient's biology can potentially reduce the
                risk of unwanted side effects.
                Empower patients: Being actively involved in a personalized treatment plan can lead to a greater sense
                of control and hope for recovery.

            </p>
        </section>
        <section class="container4">
            <h2>Getting Help
                in the UK</h2>
            <p>If you or someone you know is experiencing symptoms of schizophrenia, it's important to seek professional
                help. Here are some resources available in the UK:

                NHS talking therapies:
                https://www.nhs.uk/mental-health/talking-therapies-medicine-treatments/talking-therapies-and-counselling/nhs-talking-therapies/
                Mind: https://www.mind.org.uk/
                Rethink Mental Illness: https://www.rethink.org/
                Your GP (general practitioner): They can refer you to mental health services.</p>
        </section>

    </main>

    <footer>

        <div class="footer">
            <div class="link-terms">TERMS AND CONDITIONS</div>
            <div class="link-privacy">PRIVACY POLICY</div>
            <div class="link-cookies">COOKIES</div>
            <div class="meomics">© MeOmics</div>
            <div class="background5">
                <div class="background6">
                    <div class="backgroundhorizontalborder">
                        <div class="registered-in-england">
                            <span>Copyright © 2024 MeOmics Precision Medicine Ltd. - All Rights Reserved.</span>
                        </div>
                    </div>
                </div>
                <div class="registered-in-england">
                    <img src="/public/linkedin_svgrepo.com.svg" alt="linkedin logo">
                    <img src="/public/twitter-3-logo_svgrepo.com (1).svg" alt="linkedin logo">
                </div>
            </div>

    </footer>
</body>

</html>