<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>meOmics: Personalized Medicine for Mental Health</title>
    <meta name="description" content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses.">
    <meta name="keywords" content="meOmics, precision medicine, mental health, psychiatry, schizophrenia, bipolar disorder, personalized treatment, patient data, cellular assays, Cardiff, Wales">
    <!-- Social Media Links -->
    <meta property="og:title" content="meOmics: Personalized Medicine for Mental Health">
    <meta property="og:description" content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses.">
   
    <meta property="og:url" content="https://twitter.com/MeOmics_Pre_Med">
  
    <meta name="twitter:site" content="@MeOmics_Pre_Med">
    <meta name="twitter:creator" content="@YourTwitterHandle">
    <meta name="twitter:title" content="meOmics: Personalized Medicine for Mental Health">
    <meta name="twitter:description" content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses.">
   
      <!-- LinkedIn -->
      <meta property="og:type" content="website">
      <meta property="og:locale" content="en_US">
      <meta property="og:site_name" content="meOmics">
      <meta property="og:image:width" content="1200">
      <meta property="og:image:height" content="630">
      <meta property="og:url" content="https://www.linkedin.com/company/meomics-technology/">
      <meta property="og:title" content="meOmics: Personalized Medicine for Mental Health">
      <meta property="og:description" content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses.">
      <meta property="og:article:author" content="https://www.linkedin.com/company/meomics-technology/">
    <link rel="stylesheet" href="/public/css/Schizophrenia.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>

       
        <div class="background">


            <!-- <img class="image-icon" alt="" src="../public/image@2x.png" /> -->
            <img class="image-icon" alt="" src="../public/logo-1@2x.png" />
            <div class="hamburger-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
              </div>

              <ul class="menu-items">
                <li><a href="/views/index.html">Home</a></li>

                <li><a href="/views/schizophrenia.html">Schizophrenia</a></li>
              
                <li><a href="/views/contact-us.html">Contact Us</a></li>
                <li><a href="/views/team.html">The Team</a></li>
                <li><a href="/views/news.html">News</a></li>
                <li><a href="/views/science.html">Our Research</a></li>
                <li><a href="/views/Investing.html">Investors</a></li>
            </ul>
            <div class="registered-in-england">
                <a href="https://www.linkedin.com/company/meomics-technology/"> <img src="/public/linkedin_svgrepo.com.svg" alt="linkedin logo"></a>    
                <a href="https://twitter.com/MeOmics_Pre_Med"><img src="/public/twitter-3-logo_svgrepo.com (1).svg" alt="twitter logo"></a>
            </div>

    </header>
    <main>
        <section class="container1">
            <div class="image">
                <img src="/public/schizo 1.svg" alt="positve message about mental health">
            </div>

            <div class="content">


                <img src="/public/1.svg" alt="img of number 1" class="numbers">
                <h2>Schizophrenia:
                    Understanding the Challenges </h2>
                <p>

                    Schizophrenia is a complex mental health condition that affects about 1 in 100 people in the UK. It
                    can
                    cause hallucinations (seeing or hearing things that aren't there) and delusions (fixed, false
                    beliefs).
                    Additionally, people with schizophrenia may experience social withdrawal, difficulty concentrating,
                    and
                    disorganized thinking.</p>
            </div>
        </section>

        <section class="container2">
            <div class="content">
                <img src="/public/2.svg" alt="img of number 1" class="numbers">
                <h2>Current Treatment Landscape</h2>
                <p>Schizophrenia is typically treated with a combination of medication and therapy. Antipsychotic
                    medications are the mainstay of treatment, helping to manage symptoms like hallucinations and
                    delusions.
                    Therapy, such as cognitive behavioral therapy (CBT), can equip individuals with coping mechanisms
                    and
                    improve social skills. However, finding the right medication and therapy approach can be a process
                    of
                    trial and error, and some people experience side effects from medications.</p>
            </div>
            <div class="image">
                <img src="/public/schizo2.svg" alt="positve message about mental health">
            </div>

        </section>

        <section class="container3">

            <div class="image">
                <img src="/public/schizo3.svg" alt="positve message about mental health">
            </div>
            <div class="content">
                <img src="/public/3.svg" alt="img of number 1" class="numbers">
                <h2>MeOmics: A Personalised
                    Approach to Treatment</h2>
                <p>MeOmics is transforming the future of schizophrenia treatment by offering a more personalized
                    approach.
                    We analyze a patient's unique biology, including:
                    Cellular activity

                    How their nerve cells respond to stimuli.
                    Genetics Their genetic makeup to understand potential risk factors.
                    By integrating this information with a patient's medical history, </p>
                <p> MeOmics aims to predict the most
                    effective medications for their specific needs. This personalized approach has the potential to:


                    Reduce trial-and-error with medication
                    Finding the right medication faster can lead to quicker symptom relief and improved quality of life.
                    Minimize side effects: Matching the right medication to a patient's biology can potentially reduce
                    the
                    risk of unwanted side effects.
                    Empower patients: Being actively involved in a personalized treatment plan can lead to a greater
                    sense
                    of control and hope for recovery.

                </p>
            </div>
        </section>
        <section class="container4">

            <div class="content">
                <img src="/public/4.svg" alt="img of number 1" class="numbers">
                <h2>Getting Help
                    in the UK</h2>
                <p>If you or someone you know is experiencing symptoms of schizophrenia, it's important to seek
                    professional
                    help. Here are some resources available in the UK:
                <h3> Your GP (general practitioner)</h3>
                They can refer you to mental health services.

                <h3>NHS talking therapies:</h3>
                <a href=" https://www.nhs.uk/mental-health/talking-therapies-medicine-treatments/talking-therapies-and-counselling/nhs-talking-therapies/
                 ">
                    https://www.nhs.uk/mental-health/talking-therapies-medicine-treatments/talking-therapies-and-counselling/nhs-talking-therapies/
                </a>
                <h3>Rethink Mental Illness:</h3><a href="https://www.rethink.org/">https://www.rethink.org/</a>
                </p>
            </div>
            <div class="image">

                <img src="/public/therapy.svg" alt="positve message about mental health">
            </div>
        </section>

    </main>
   
                    <!-- Message Box -->
<div class="message-box">
    <i class="fa fa-comments"></i>
</div>

<!-- Social Media Links -->
<div class="social-links-container">
    <div class="social-links">
        <a href="https://www.whatsapp.com" target="_blank">
            <img src="/public/whatsapp-icon-logo_svgrepo.com.svg" alt="WhatsApp">
        </a>
        <a href="https://www.linkedin.com/company/meomics-technology/" target="_blank">
            <img src="/public/linkedin_svgrepo.com.svg" alt="LinkedIn">
        </a>
        <a href="https://twitter.com/MeOmics_Pre_Med" target="_blank">
            <img src="/public/twitter-3-logo_svgrepo.com (1).svg" alt="Twitter">
        </a>
    </div>
</div> 

    <footer>

        <div class="footer">
            <a href="/views/privacy.html"><div class="link-terms">TERMS AND CONDITIONS</div></a> 
            <a href="/views/privacy.html"><div class="link-privacy">PRIVACY POLICY</div></a>
            <a href="/views/privacy.html"><div class="link-cookies">COOKIES</div></a>
            <div class="meomics">© MeOmics</div>
            <div class="background5">
                <div class="background6">
                    <div class="backgroundhorizontalborder">
                        <div class="registered-in-england">
                            <span>Copyright © 2024 MeOmics Precision Medicine Ltd. - All Rights Reserved.</span>
                        </div>
                    </div>
                </div>
                <div class="registered-in-england">
                    <a href="https://www.linkedin.com/company/meomics-technology/"> <img src="/public/linkedin_svgrepo.com.svg" alt="linkedin logo"></a>    
                    <a href="https://twitter.com/MeOmics_Pre_Med"><img src="/public/twitter-3-logo_svgrepo.com (1).svg" alt="twitter logo"></a>
                </div>
            </div>

    </footer>
   <script src="script.js"></script>
</body>

</html>