<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>meOmics: Personalized Medicine for Mental Health</title>
    <meta name="description" content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses.">
    <meta name="keywords" content="meOmics, precision medicine, mental health, psychiatry, schizophrenia, bipolar disorder, personalized treatment, patient data, cellular assays, Cardiff, Wales">
    <!-- Social Media Links -->
    <meta property="og:title" content="meOmics: Personalized Medicine for Mental Health">
    <meta property="og:description" content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses.">
   
    <meta property="og:url" content="https://twitter.com/MeOmics_Pre_Med">
  
    <meta name="twitter:site" content="@MeOmics_Pre_Med">
    <meta name="twitter:creator" content="@YourTwitterHandle">
    <meta name="twitter:title" content="meOmics: Personalized Medicine for Mental Health">
    <meta name="twitter:description" content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses.">
   
      <!-- LinkedIn -->
      <meta property="og:type" content="website">
      <meta property="og:locale" content="en_US">
      <meta property="og:site_name" content="meOmics">
      <meta property="og:image:width" content="1200">
      <meta property="og:image:height" content="630">
      <meta property="og:url" content="https://www.linkedin.com/company/meomics-technology/">
      <meta property="og:title" content="meOmics: Personalized Medicine for Mental Health">
      <meta property="og:description" content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses.">
      <meta property="og:article:author" content="https://www.linkedin.com/company/meomics-technology/">
    <link rel="stylesheet" href="../public/css/science.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const burger = document.querySelector('.burger');
            const navLinks = document.querySelector('.nav-links');

            burger.addEventListener('click', function () {
                // Toggle height of nav-links
                if (navLinks.style.height === '100%') {
                    navLinks.style.height = '0';
                } else {
                    navLinks.style.height = '100%'; // Assume you want to make it full height on toggle
                }
            });
        });
    </script>
</head>

<body>
    <header>
        <!-- <img class="image-icon" alt="" src="../public/image@2x.png" /> -->

        <img class="image-icon" alt="" src="../public/logo-1@2x.png" />

        <nav>
            <ul class="nav-links">
                <li><a href="/views/index.html">Home</a></li>

                <li><a href="/views/schizophrenia.html">Schizophrenia</a></li>
              
                <li><a href="/views/contact-us.html">Contact Us</a></li>
                <li><a href="/views/team.html">The Team</a></li>
                <li><a href="/views/news.html">News</a></li>
                <li><a href="/views/science.html">Our Research</a></li>
                <li><a href="/views/Investing.html">Investors</a></li>
            </ul>

            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>

        <div class="registered-in-england">
            <a href="https://www.linkedin.com/company/meomics-technology/"> <img src="/public/linkedin_svgrepo.com.svg" alt="linkedin logo"></a>    
            <a href="https://twitter.com/MeOmics_Pre_Med"><img src="/public/twitter-3-logo_svgrepo.com (1).svg" alt="twitter logo"></a>
        </div>

    </header>
    <main>

        <section class="container1">
            <div class="content">
                <p>
                    MeOmics will capitalise upon the academic research undertaken by the founders at <b>Cardiff
                        University</b>
                    to create an

                    innovative <b>Precision Psychiatry Platform</b> for improved drug discovery and prediction of
                    optimal drug
                    therapies for individual mental health patients..
                </p>
            </div>
        </section>

        <section class="container2">
            <div class="content">
                <p>MeOmics has a unique physiological assay, drawn from significant experience in psychiatric genomics
                    and stem cell biology, that can measure a direct biological read-out of multiple interacting neurons
                    derived from clinically and genetically characterised patient stem-cell lines (see figure right). In
                    effect, this simulates key aspects of brain function from the patient’s own cells. Importantly, it
                    can potentially determine efficacy with high specificity of existing drugs to provide a precise,
                    measurable, contextually appropriate, repeatable test. </p>
            </div>
            <div class="image">
                <img src="../public/scince 1.svg" alt="positve message about mental health">
            </div>
        </section>

        <section class="container3">
            <div class="image">
                <img src="../public/m/IMG-20240419-WA0012.jpg" alt="positve message about mental health">
            </div>

            <div class="content">
                <p> MeOmics will integrate large volumes of complex multimodal data to link the patient’s cell
                    electrophysiological profile to multiple clinical parameters and genetic differences. Together these
                    methodologies will create a tool to predict the optimal drug therapy based upon the cell responses
                    in combination with the patient genotype and clinical data. </p>
                <p> Currently no such platform exists, and clinicians rely on direct patient clinical assessment and
                    professional judgement to determine therapeutic strategy. MeOmics will work with mental healthcare
                    providers to scale-up the prototype of our data-biology tool on patient populations with the
                    objective of demonstrating a capacity to handle more than 500 patient lines and to confirm its
                    ability to predict differences in patient treatment responses, with an initial focus on psychotic
                    illnesses.
                    This will represent a significant up-scaling from current state-of-the-art and aligns with the
                    commercial need to create a high content product. These data will be analysed by bespoke
                    computational tools to stratify patients based on cell response, genotype and clinical data to
                    improve predictive power. By combining these data sources, the platform will bring personalised
                    medicine to psychiatry.
                </p>
            </div>
        </section>

        <section class="container4">
            <div class="content">
                <p>Beyond the creation of the primary product, validation of our platform will additionally open up the
                    potential for its use as a preclinical screen for new drug candidates as well as existing
                    treatments. This will give access to an additional market for drug discovery and development with
                    big pharmaceutical companies.

                    In summary, MeOmics' immediate objective is to scale-up their existing prototype of the Precision
                    Psychiatry Platform, an innovative new service product to improve patient treatment for mental
                    illnesses. The research and development performed will create brand-new diagnostic and pre-clinical
                    screening service products for the mental healthcare market.
                </p>
            </div>

            <div class="image">
                <img src="../public/m/IMG-20240419-WA0001.jpg" alt="positve message about mental health">
            </div>
        </section>

        <section class="container5">

            <div class="image">
                <img src="../public/m/IMG-20240419-WA0010.jpg" alt="positve message about mental health">
            </div>

            <div class="content">
                <p> MeOmics immediate plan is that patients will be identified by a Research Fellow located at a
                    suitable healthcare provider's patient facility. Working in collaboration with MeOmics, they will
                    carry out a detailed clinical assessment of the patients and forward the clinical information and
                    blood samples, which will be provided to MeOmics for reprogramming into induced Pluripotent Stem
                    Cells (iPSCs).</p>
                <p> Once reprogrammed, patient cells will be genotyped (Illumina Global Screening Array v3.0) for
                    quality control. Patient iPSC will be differentiated to neurons for electrophysiological and
                    neuronal network analysis using a Multi-Electrode Array (MEA) assay, previously established in our
                    laboratory (see Supporting Publications).
                </p>
            </div>
        </section>
        <section class="container6">

            <div class="content">
                <p>MeOmics have currently tested around 50 patients in our laboratory. As we scale-up, we will expand
                    the MEA assay capacity to create a high capacity, high throughput MEA workflow based on an
                    established 96-well plate protocol (Biocircuit MEA 96, Axion) integrated via robotics into a unique
                    automated MEA system. This will create an expandable system capable of testing multiple drugs, doses
                    and combinations in parallel for 100s of patients (see figure below). Genomic, phenotype and MEA
                    data will be utilised to establish multiparametric markers of patient sub-groups linked to drug
                    responsiveness providing testable hypotheses for the mental healthcare provider.The process will be
                    reiterated initially for up to 200 patients to refine the assay process and data
                    analytics before progressing to hundreds of patients.
                </p>

                <p>
                    <b> Patient neuronal cells are cultured in multi-well plates for electrical recording:</b>

                    (A) Large scale, 96-well based MEA assay, showing minimal variation of Synchronized Burst (SB)
                    frequency (SB -1 Large-scale 96-well assay shows that using data based on measures of min) across
                    recordings from 90-wells.

                    (B) Drug-dose response relationship of SB frequency for synchronized bursting (SB min-1) is a robust
                    measure of synaptic
                    a GABA antagonist. Changes in SB frequency correlate well with the known drug IC50 value.
                </p>

            </div>
            <div class="image">
                <img src="../public/science 2.svg" alt="positve message about mental health">
            </div>
        </section>


        <section class="container1">
            <div class="content">

                <h3>Peer-Reviewed Published Scientific Papers</h3>

                <p><b>L-type voltage-gated calcium channel regulation of in vitro human cortical neuronal networks</b>
                </p> <a
                    href="https://www.nature.com/articles/s41598-019-50226-9">https://www.nature.com/articles/s41598-019-50226-9</a>

                <p><b>Pharmacological intervention to restore connectivity deficits of neuronal networks derived from
                        ASD</b></p><a
                    href="https://molecularautism.biomedcentral.com/articles/10.1186/s13229-020-00391-w">https://molecularautism.biomedcentral.com/articles/10.1186/s13229-020-00391-w</a>

                <p><b>Using induced pluripotent stem cells to investigate human neuronal phenotypes in 1q21.1 deletion
                        and</b></p><a href="https://www.biorxiv.org/content/10.1101/2021.02.08.430246v1?rss=1

                        ">https://www.biorxiv.org/content/10.1101/2021.02.08.430246v1?rss=1

                </a>

                <p><b>Copy number variants (CNVs): a powerful tool for iPSC-based modelling of ASD</b></p><a
                    href="https://molecularautism.biomedcentral.com/articles/10.1186/s13229-020-00343-4">https://molecularautism.biomedcentral.com/articles/10.1186/s13229-020-00343-4</a>
            </div>
        </section>

    </main>
                        <!-- Message Box -->
<div class="message-box">
    <i class="fa fa-comments"></i>
</div>

<!-- Social Media Links -->
<div class="social-links-container">
    <div class="social-links">
        <a href="https://www.whatsapp.com" target="_blank">
            <img src="/public/whatsapp-icon-logo_svgrepo.com.svg" alt="WhatsApp">
        </a>
        <a href="https://www.linkedin.com/company/meomics-technology/" target="_blank">
            <img src="/public/linkedin_svgrepo.com.svg" alt="LinkedIn">
        </a>
        <a href="https://twitter.com/MeOmics_Pre_Med" target="_blank">
            <img src="/public/twitter-3-logo_svgrepo.com (1).svg" alt="Twitter">
        </a>
    </div>
</div> 

    <footer>
        <div class="footer">
            <a href="/views/privacy.html"><div class="link-terms">TERMS AND CONDITIONS</div></a> 
            <a href="/views/privacy.html"><div class="link-privacy">PRIVACY POLICY</div></a>
            <a href="/views/privacy.html"><div class="link-cookies">COOKIES</div></a>
            <div class="meomics">© MeOmics</div>
            <div class="background5">
                <div class="background6">
                    <div class="backgroundhorizontalborder">
                        <div>
                            <span>Copyright © 2024 MeOmics Precision Medicine Ltd. - All Rights Reserved.</span>
                        </div>
                    </div>
                </div>
                <div class="registered-in-england">
                    <a href="https://www.linkedin.com/company/meomics-technology/"> <img src="/public/linkedin_svgrepo.com.svg" alt="linkedin logo"></a>    
                    <a href="https://twitter.com/MeOmics_Pre_Med"><img src="/public/twitter-3-logo_svgrepo.com (1).svg" alt="twitter logo"></a>
                </div>
            </div>

    </footer>
    
    <script>
        const messageBox = document.querySelector('.message-box');
const socialLinksContainer = document.querySelector('.social-links-container');

messageBox.addEventListener('click', () => {
    socialLinksContainer.style.display = socialLinksContainer.style.display === 'none' ? 'block' : 'none';
});
    </script>
</body>

</html>
