<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>meOmics: Personalized Medicine for Mental Health</title>
    <meta name="description" content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses.">
    <meta name="keywords" content="meOmics, precision medicine, mental health, psychiatry, schizophrenia, bipolar disorder, personalized treatment, patient data, cellular assays, Cardiff, Wales">
    <!-- Social Media Links -->
    <meta property="og:title" content="meOmics: Personalized Medicine for Mental Health">
    <meta property="og:description" content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses.">
   
    <meta property="og:url" content="https://twitter.com/MeOmics_Pre_Med">
  
    <meta name="twitter:site" content="@MeOmics_Pre_Med">
    <meta name="twitter:creator" content="@YourTwitterHandle">
    <meta name="twitter:title" content="meOmics: Personalized Medicine for Mental Health">
    <meta name="twitter:description" content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses.">
   
      <!-- LinkedIn -->
      <meta property="og:type" content="website">
      <meta property="og:locale" content="en_US">
      <meta property="og:site_name" content="meOmics">
      <meta property="og:image:width" content="1200">
      <meta property="og:image:height" content="630">
      <meta property="og:url" content="https://www.linkedin.com/company/meomics-technology/">
      <meta property="og:title" content="meOmics: Personalized Medicine for Mental Health">
      <meta property="og:description" content="meOmics is a Welsh biotech startup developing a platform for precision psychiatry. We use patient data and cellular assays to predict treatment response for severe mental illnesses.">
      <meta property="og:article:author" content="https://www.linkedin.com/company/meomics-technology/">

    <link rel="stylesheet" href="/public/css/team.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>

        <div class="background">


            <!-- <img class="image-icon" alt="" src="../public/image@2x.png" /> -->



            <img class="image-icon" alt="" src="../public/logo-1@2x.png" />

            <ul>

                <li><a href="/views/index.html">Home</a></li>

                <li><a href="/views/schizophrenia.html">Schizophrenia</a></li>
              
                <li><a href="/views/contact-us.html">Contact Us</a></li>
                <li><a href="/views/team.html">The Team</a></li>
                <li><a href="/views/news.html">News</a></li>
                <li><a href="/views/science.html">Our Research</a></li>
                <li><a href="/views/Investing.html">Investors</a></li>
            </ul>
            <div class="registered-in-england">
                <a href="https://www.linkedin.com/company/meomics-technology/"> <img src="/public/linkedin_svgrepo.com.svg" alt="linkedin logo"></a>    
                    <a href="https://twitter.com/MeOmics_Pre_Med"><img src="/public/twitter-3-logo_svgrepo.com (1).svg" alt="twitter logo"></a>
            </div>

    </header>
    <main>

        <section class="big-header">
            <img src="/public/Team.svg" alt="Team Picture">
        </section>
<h1>Our Team</h1>
        <section class="team-members">
            <div class="team-member">
                <div class="member-info">
                    <img src="/public/adrian.png" alt="Team Member 1">
                    <h2>Professor Adrian Harwood</h2>
                    <h3>Chief Technology Officer</h3>
                    <p>Leading Expert in Neuronal Cell Biology & Neuropsychopharmacology</p>
                    <a href="https://profiles.cardiff.ac.uk/staff/harwoodaj">Contact Info</a>
                </div>
            </div>

            <!-- Repeat this for each team member -->
            <div class="team-member">
                <div class="member-info">
                    <img src="/public/lucy.png" alt="Team Member 2">
                    <h2>Dr Lucy Sykes</h2>
                    <h3>Special Advisor (Chief Scientific Officer)</h3>
                    <p>Expert in Cell & Molecular Biology & Biotech Business Models</p>
                    <a href="https://www.linkedin.com/in/lucy-sykes-75b23637">Contact Info</a>
                </div>
            </div>

            <div class="team-member">
                <div class="member-info">
                    <img src="/public/jeremy.png" alt="Team Member 3">
                    <h2>Professor Jeremy Hall</h2>
                    <h3>Chief Medical Officer</h3>
                    <p>Leading Expert in Psychiatric Phenotypes & Biomarkers</p>
                    <a href="https://profiles.cardiff.ac.uk/staff/hallj10">Contact Info</a>
                </div>
            </div>

            <div class="team-member">
                <div class="member-info">
                    <img src="/public/alicia.png" alt="Team Member 4">
                    <h2>Alicia Campbell</h2>
                    <h3>Cell Biologist</h3>
                    <p>Expert in Upscaling Stem Cells & Process Development</p>
                    <a href="https://www.linkedin.com/in/alicia-campbell-b8515161/">Contact Info</a>
                </div>
            </div>

            <div class="team-member">
                <div class="member-info">
                    <img src="/public/Alasdair Pettigrew.jpg" alt="Team Member 5">
                    <h2>Alasdair Pettigrew</h2>
                    <h3>Chief Executive Officer</h3>
                    <p>Entrepreneur & Technology Commercialisation Expert</p>
                    <a href="https://www.linkedin.com/in/alasdairpettigrew/">Contact Info</a>
                </div>
            </div>

            <div class="team-member">
                <div class="member-info">
                    <img src="/public/james.png" alt="Team Member 6">
                    <h2>Professor James Walters</h2>
                    <h3>Special Advisor</h3>
                    <p>Expert in Neuropsychiatric Genetics & Genomics</p>
                    <a href="https://profiles.cardiff.ac.uk/staff/waltersjt">Contact Info</a>
                </div>
            </div>

        </section>
    </main>
        <!-- Message Box -->
                            <!-- Message Box -->
<div class="message-box">
    <i class="fa fa-comments"></i>
</div>

<!-- Social Media Links -->
<div class="social-links-container">
    <div class="social-links">
        <a href="https://www.whatsapp.com" target="_blank">
            <img src="/public/whatsapp-icon-logo_svgrepo.com.svg" alt="WhatsApp">
        </a>
        <a href="https://www.linkedin.com/company/meomics-technology/" target="_blank">
            <img src="/public/linkedin_svgrepo.com.svg" alt="LinkedIn">
        </a>
        <a href="https://twitter.com/MeOmics_Pre_Med" target="_blank">
            <img src="/public/twitter-3-logo_svgrepo.com (1).svg" alt="Twitter">
        </a>
    </div>
</div> 
    <footer>

        <div class="footer">
            <a href="/views/privacy.html"><div class="link-terms">TERMS AND CONDITIONS</div></a> 
            <a href="/views/privacy.html"><div class="link-privacy">PRIVACY POLICY</div></a>
            <a href="/views/privacy.html"><div class="link-cookies">COOKIES</div></a>
            <div class="meomics">© MeOmics</div>
            <div class="background5">
                <div class="background6">
                    <div class="backgroundhorizontalborder">
                        <div class="registered-in-england">
                            <span>Copyright © 2024 MeOmics Precision Medicine Ltd. - All Rights Reserved.</span>
                        </div>
                    </div>
                </div>
                <div class="registered-in-england">
                    <a href="https://www.linkedin.com/company/meomics-technology/"> <img src="/public/linkedin_svgrepo.com.svg" alt="linkedin logo"></a>    
                    <a href="https://twitter.com/MeOmics_Pre_Med"><img src="/public/twitter-3-logo_svgrepo.com (1).svg" alt="twitter logo"></a>
                </div>
            </div>

    </footer>
    <script>
        const messageBox = document.querySelector('.message-box');
const socialLinksContainer = document.querySelector('.social-links-container');

messageBox.addEventListener('click', () => {
    socialLinksContainer.style.display = socialLinksContainer.style.display === 'none' ? 'block' : 'none';
});
    </script>
</body>

</html>
