body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-open-sans: "Open Sans";
  --font-lexend: Lexend;

  /* font sizes */
  --font-size-3xs: 10px;
  --font-size-5xl: 24px;
  --font-size-mid-3: 17.3px;
  --font-size-7xl-7: 26.7px;
  --font-size-2xl: 21px;
  --font-size-6xl: 25px;

  /* Colors */
  --color-darkslategray-100: #47484b;
  --color-white: #fff;
  --color-gray-100: #212529;
  --color-lightgray: #ccc;
  --color-steelblue-100: #4077bb;
  --color-dimgray: #4d4d4d;
  --color-black: #000;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-xl: 20px;
  --gap-7xl: 26px;
  --gap-mid: 17px;

  /* Paddings */
  --padding-base-9: 16.9px;
  --padding-xl: 20px;
  --padding-4xl: 23px;
  --padding-10xl: 29px;
  --padding-21xl: 40px;
  --padding-154xl: 173px;
  --padding-67xl: 86px;
}
