.frame-child,
.image-25-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
}
.image-25-icon {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 490px;
  object-fit: cover;
}
.frame-child {
  top: 0;
  left: 588px;
  height: 410px;
}
.image-26-icon {
  position: absolute;
  top: 277px;
  left: 0;
  width: 456px;
  height: 128px;
  object-fit: cover;
}
.contact-us3 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 82px;
}
.div4,
.nameemailcom {
  position: absolute;
  top: 85px;
  left: 57px;
  line-height: 26px;
}
.div4 {
  top: 40px;
  left: 56px;
}
.mail-1-icon,
.phone-1-icon {
  position: absolute;
  top: 50px;
  left: 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.mail-1-icon {
  top: 92px;
}
.west-street-portland {
  position: absolute;
  top: 0;
  left: 56px;
  line-height: 26px;
  display: inline-block;
  width: 280px;
}
.location-pin-1 {
  position: absolute;
  top: 5px;
  left: 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.nameemailcom-parent {
  position: absolute;
  top: 118px;
  left: 0;
  width: 308px;
  height: 113px;
  font-size: 16px;
  font-family: Roboto;
}
.frame1,
.frame2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 335px;
  height: 231px;
  overflow: hidden;
}
.frame1 {
  top: 5px;
  width: 456px;
  height: 405px;
}
.send-message {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 52.5px);
  line-height: 26px;
}
.button-30,
.vector-icon1 {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.button-30 {
  top: 361px;
  background-color: #171a1f;
  width: 200px;
  height: 44px;
  color: #fff;
}
.vector-icon1 {
  width: 100%;
  right: 0;
  bottom: -1px;
  max-width: 100%;
  max-height: 100%;
}
.your-name {
  position: absolute;
  top: calc(50% - 13px);
  left: 0;
  line-height: 26px;
}
.textbox-7,
.textbox-8 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 4px 4px 0 0;
  background-color: transparent;
  height: 44px;
}
.textbox-8 {
  top: 64px;
}
.your-message {
  position: absolute;
  width: calc(100% - 39px);
  top: 12px;
  left: 16px;
  line-height: 28px;
  display: inline-block;
}
.resizing-handle-icon {
  position: absolute;
  right: -1px;
  bottom: -1px;
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.textarea-3,
.textbox-9 {
  position: absolute;
  right: 0;
  background-color: transparent;
}
.textarea-3 {
  width: calc(100% + 1px);
  top: 197px;
  left: -1px;
  border: 1px solid #9095a1;
  box-sizing: border-box;
  height: 140px;
  font-size: 18px;
}
.textbox-9 {
  width: 100%;
  top: 128px;
  left: 0;
  border-radius: 4px 4px 0 0;
  height: 44px;
}
.frame,
.frame3 {
  position: absolute;
  overflow: hidden;
}
.frame3 {
  top: 5px;
  left: 720px;
  width: 456px;
  height: 405px;
  font-size: 16px;
  color: #bdc1ca;
  font-family: Roboto;
}
.frame {
  top: 127px;
  left: 132px;
  width: 1176px;
  height: 410px;
}
.container-34 {
  position: absolute;
  top: -10px;
  left: 240px;
  background-color: #fff;
  width: 1440px;
  height: 1099px;
}
.contact-us2 {
  width: 100%;
  position: relative;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  background-color: #fff;
  height: 1050.3px;
  overflow: hidden;
  text-align: left;
  font-size: 62px;
  color: #171a1f;
  font-family: Montserrat;
}
